
<%- include('./layout/Header.ejs')%>
>
<div class="container text-center mt-3 w-50 ">
    <h1>Edit Diary</h1>
    
    <div class="bg-success-subtle mt-2  ">
        <form action="/dairy/edit/<%= data.id%>?_method=PUT" method="post" class="p-5">
            <input type="hidden" name="_method" value="PUT" >
            <div class="mb-5">
              <label for="exampleInputEmail1" class="form-label">Title</label>
              <input type="text " class="form-control"  name="title" value="<%= data.title %>">
            </div>
            <div class="mb-5">
              <label for="exampleInputEmail1" class="form-label">Description</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="description"> <%= data.description%></textarea>
            </div>
            <div class="mb-5">
              <label for="exampleInputEmail1" class="form-label">Date</label>
                <input type="date" class="form-control" id="exampleInputPassword1" name="date">
              </div>
            
            
            <input type="submit" class="btn btn-primary" value="Edit">
          </form>
    </div>
</div>
<%- include('./layout/Footer.ejs')%>